<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <div class="mainWrapper">
        <h1>You Lost</h1>
        <p class="word">The Word Was: {{randomWord}}</p>
           <img src="http://cdn.list25.com/wp-content/uploads/2015/01/failgif7.gif" alt="dancing gif">
    </div>

    <script src="main.js"></script>
</body>

</html>