<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <div class="mainWrapper">
        <div class="game">
            <h1>Guess The Word</h1>
            <form action="/" method="POST">
                <input type="text" name="guessedLetter" class="lowerCase">
                <input type="submit" value="SUBMIT">
            </form>
            <p class="randomWord">{{computerWord}}</p>
            <p>Guesses Left: {{guessCount}}</p>
            <p>Guessed Letters: {{userGuess}}</p>
        </div>
        <p class="error">{{errorMessage}}</p>
        <form action="/error" method="POST">
            <span id="confirm" class="hidden"><input type = "submit" value="GOT IT"></span>
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>