<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <div class="mainWrapper">
        <div class="game">
            <h1>Guess The Word</h1>
            <p class="randomWord">{{computerWord}}</p>
            <p class="subTitle"> Enter Your Guess Below</p>
            <form class="mainForm" action="/" method="POST">
                <input type="text" name="guessedLetter" class="guess" maxlength="1">
                <br>
                <input type="submit" class="submit" value="SUBMIT">
            </form>
            <p>You have {{guessCount}} guesses</p>
            <p>Guessed Letters: {{userGuess}}</p>
        </div>
        <p class="error">{{errorMessage}}</p>
        <form action="/error" method="POST">
            <span id="confirm" class="hidden"><input type = "submit" value="GOT IT" class="gotIt"></span>
            <img class="mainGif" src="https://media.giphy.com/media/SabSYEpsVh0di/giphy.gif" alt="dancing gif">
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>