<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <div class="mainWrapper">
        <h1>You Won</h1>
        <p class="word">The word was: <span class="upperCase">{{randomWord}}</span></p>
        <img src="http://a.fod4.com/images/GifGuide/dancing/tumblr_llatanJkKU1qbnthu.gif" alt="dancing gif">
        <form class="failForm" action="/again" method="POST">
            <span id="confirm"><input type = "submit" value="PLAY AGAIN" class="gotIt"></span>
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>